.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  height: 50px;
  background-color: #44ff2f;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #adff2f;
}

.footer {
  height: 50px;
  background-color: #44ff2f;
}
