.todo-item-form-container {
  background-color: #fff52f;
  border: 1px solid black;
}

.todo-item-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.todo-item-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.priority-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.priority-input > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-cancel-button-container {
  display: flex;
  justify-content: center;
}

.form-cancel-button {
  display: flex;
  justify-content: center;
  background-color: #ff2f44;
}

.form-cancel-button:hover {
  background-color: rgb(255, 0, 25);
  cursor: pointer;
}