.todo-list-item {
  position: relative;
  width: 300px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid black;
  cursor: pointer;
}

.high-priority {
  background-color: #ff2f44;
}

.high-priority:hover {
  background-color: rgb(255, 0, 25);
}

.medium-priority {
  background-color: #faf039;
}

.medium-priority:hover {
  background-color: #fff200;
}

.low-priority {
  background-color: #44ff2f;
}

.low-priority:hover {
  background-color: rgb(152, 253, 0);
}