.delete-container {
  display: flex;
  background-color: #822fff;
  color: white;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.delete-question {
  display: flex;
  justify-content: center;
}

.confirm-container {
  display: flex;
  justify-content: center;
}

.confirm-button {
  background-color: #ff2f44;
  border: 1px solid black;
  margin: 5px;
  padding: 3px;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: rgb(255, 0, 25);
}