.todo-list-item {
  width: 300px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid black;
  cursor: pointer;
}

.high-priority {
  background-color: #e64268;
}

.high-priority:hover {
  background-color: rgb(255, 0, 25);
}

.medium-priority {
  background-color: #e6d342;
}

.medium-priority:hover {
  background-color: #fff200;
}

.low-priority {
  background-color: #68e642;
}

.low-priority:hover {
  background-color: rgb(152, 253, 0);
}

.todo-item-uncompleted {
  width: 2em;
  height: 2em;
  background-color: gray;
  border: 1px solid black;
  margin: 5px;
}

.todo-item-uncompleted:hover {
  width: 2em;
  height: 2em;
  background-color: rgb(73, 73, 73);
}

.todo-item-text {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}