.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.header {
  height: 50px;
  background-color: #428ce6;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

@media screen and (max-width: 810px) {
  .content {
    justify-content: start;
    align-items: flex-start;
    padding: 0 30px;
  }
}

@media screen and (max-width: 560px) {
  .content {
    padding: 0 10px;
  }
}
