.todo-list-container {
  height: 100%;
}

.todo-list {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  overflow-y: scroll;
}

.add-item-button {
  background-color: #e65842;
  box-sizing: border-box;
  border: 1px solid black;
  cursor: pointer;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-item-button:hover {
  background-color: #ff3300;
}