.todo-list-part-button {
  box-sizing: border-box;
  width: 300px;
  min-height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: gray;
  border: 1px solid black;
  color: #f7f7f7;
}

.todo-list-part-button:hover {
  background-color: rgb(173, 173, 173);
  cursor: pointer;
}

.todo-list-part-button-text {
  flex-basis: 0;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.items-container {
  background-color: rgb(173, 173, 173);
  border: solid black 1px;
  padding: 5px 5px 10px 5px;
}

@media screen and (max-width: 560px) {
  .todo-list-part-button {
    width: 212px;
  }
}

@media screen and (max-width: 340px) {
  .todo-list-part-button {
    width: 162px;
  }
}